@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body {
    background: pink;
}

.b-container {
    width: 100%;
    background: #000;
    @include desktop {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        border-left: 1px solid;
        border-right: 1px solid;
    }
}
